/*table {*/
/*    border-collapse: collapse;*/
/*    margin: 15px 0;*/
/*}*/

/*td, th {*/
/*    border: 1px solid black;*/
/*    padding: 5px 10px;*/
/*}*/
* {
    margin: 0;
    padding: 0;
}
.heading-divider {
    display: flex;
    justify-content: center;
}
hr {
    width: 90%;
    color: rgba(185, 185, 185, .1);
}
.java-search {
    padding: 1em;
}
.java-display {
}
label {
    font-weight: bold;
    padding-left: 0;
}
#roast-selection {
    margin: .5em 0;
}
#search {
    margin: .5em 0;
}
.roast-title {
    font-size: 2em;
    font-weight: bolder;
}
.roast-subtitle {
    font-weight: bold;
    font-style: italic;
    font-size: 1em;
}
button {
    margin: .5em 0;
}
.coffeeName {
    font-size: 2em;
    font-weight: bolder;
}
.roastType {
    font-size: 1em;
    font-weight: bold;
    margin-left: .25em;
}